Vincent Knight <vincent.knight@gmail.com> Vince Knight <vincent.knight@gmail.com>
Vincent Knight <vincent.knight@gmail.com> vince <vincent.knight@gmail.com>
Karol M. Langner <karol.langner@gmail.com> Karol M. Langner <langner@users.noreply.github.com>
Karol M. Langner <karol.langner@gmail.com> Karol M. Langner <langner@google.com>
Jason Young <Jas.young314@gmail.com> jasonyoung <jas.young314@gmail.com>
Marc Harper <marc.harper@gmail.com> Marc Harper, PhD <marc.harper@gmail.com>
Owen Campbell <owen.campbell@tanti.org.uk> Owen Campbell <owen.campbell@empiria.co.uk>
Geraint Palmer <palmer.geraint@googlemail.com> geraint <palmer.geraint@googlemail.com>
Paul Slavin <pmslavin@gmail.com> slavinp <slavinp@cs.man.ac.uk>
Paul Slavin <pmslavin@gmail.com> Paul Slavin <slavinp@cs.man.ac.uk>
Martin Chorley <martin.chorley@gmail.com> Martin Chorley <m.j.chorley@cs.cardiff.ac.uk>
