language: python
python:
  - "2.7"
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
install: "pip install -r requirements.txt"
script:
  - python -m unittest discover axelrod/tests/
  - cd docs/; python strategies.py
